# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# QtCreator
*.autosave

# QtCtreator CMake
CMakeLists.txt.user*

# C++
	# Compiled Object files
*.slo
*.lo
*.o
*.obj
	# Precompiled Headers
*.gch
*.pch
	# Compiled Dynamic libraries
*.so
*.dylib
*.dll
	# Compiled Static libraries
*.lai
*.la
*.a
*.lib
	# Executables
*.exe
*.out
*.app

#Vim
.vim.custom
.ycm_extra_conf.*
*.swp
*.swo

# Default build directory
/build

#data directory
/examples/icard11
/images
